/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c 
 facebook   #3b5998
 twitter    #1da1f2
*/

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 26px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: whitesmoke;
}

.foto {
    width: 250px;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 180px;
}

body {
    background-color: #bdc3c7;
}

.profil {
    width: 250px;
    margin-block: 0;
    box-shadow: 2px 4px 10px #3f464d;
}

.hlavicka {
    margin: 0; 
    padding: 0;
    height: 160px;     
}

.obsah {
    background-color: #31363b;
    margin: 0;
    padding: 20px;
}

.odkazy {
    background-color: #31363b;
    margin: 0;
    padding: 0;
}

.odkazy li {
    display: inline-block;
}

.odkazy a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;    
    height: 40px;
}

.portfolio a{
    width: 250px;
    padding: 5px;
    margin: 0;
    text-align: center;
    border-top: 1px solid #3f464d; 
    border-bottom: 1px solid #3f464d;   
}

.portfolio a:hover,
.portfolio a:focus,
.portfolio a:active {
    background-color: #e74c3c;
}

.facebook a {
    padding: 5px;
    width: 125px;
    text-align: center;
    border-right: 1px solid #3f464d;
}

.twitter a {
    padding: 5px;
    width: 125px;
    text-align: center;
}

.facebook a:hover,
.facebook a:focus,
.facebook a:active {
    background-color: #3b5998;
}

.twitter a:hover,
.twitter a:focus,
.twitter a:active {
    background-color: #1da1f2;
}